.env
venv
venv
week2/rag-chatbot/__pycache__
week1/mini-project/__pycache__
week2/rag-chatbot/chroma_db/
week3/trixie_wellness/llm/__pycache__/
week3/trixie_wellness/agents/__pycache__/
week3/trixie_wellness/graph/__pycache__/
week3/trixie_wellness/__pycache__/
week3/trixie_wellness/tools/__pycache__/
week3/trixie_wellness/credentials.json
week3/trixie_wellness/routers/__pycache__/
week3/trixie_wellness/rag/vector_stores/workplace_productivity/index.faiss
week3/trixie_wellness/rag/vector_stores/mental_health/index.faiss
week3/trixie_wellness/rag/vector_stores/crisis_support/index.faiss
week3/trixie_wellness/rag/__pycache__/vectorstore.cpython-312.pyc
week3/trixie_wellness/rag/__pycache__/router.cpython-312.pyc
week3/trixie_wellness/evaluation/__pycache__
ARIA/node/node_modules/
ARIA/node_modules/
ARIA/ARIA/__pycache__
ARIA/node/install_tools.bat

ARIA/node/npm
ARIA/my-aria-app/package-lock.json
ARIA/outputs/*
ARIA/core/__pycache__/
ARIA/agents/__pycache__/
ARIA/ws_server.py

